.uberhackPicture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  &__text {
    margin: 10px 0;
    line-height: 4.5vh;
    padding: 0;
    text-align: center;
  }
}
