$yellow: #ffcd29 !default;
$orange: #CD5C31 !default;
$green: #3F785D !default;

$light-blue: #c1dff7 !default;
$blue: #0084ff !default;
$dark-blue: #3b5998 !default;

$light-grey: #cccccc !default;
$grey: #b5b5b5 !default;
$darkgrey: #808080 !default;

$white: white !default;

$red: red !default;
