@import "~bootstrap/scss/bootstrap.scss";
@import "~toastr/toastr.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import "src/assets/style/imports.scss";

html,
body,
#root,
.App {
	margin: 0;
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.fa {
	font-family: fa5-proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body {
	background-color: $white;
	padding: 0;
	font-size: 17px;
}
